body {
  font-family: Arial, sans-serif;
}

button {
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.good {
  background-color: darkolivegreen;
}

.bad {
  background-color: brown;
}

.neutral {
  background-color: burlywood;
}